header {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: black;
}

input {
	margin:2% 2%;
}

a:hover {
	text-decoration: underline;
	color:black;
}

a {
	color: black;
	text-decoration: none;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.app-title {
	text-align: center;
}

.register, .login-screen, .new-screen, .login-btn {
	text-align: center;
}

.login-form, .pane {
	display: inline-block;
	width:35%;
	text-align: left;
}

.register-form {
	display: inline-block;
	width:45%;
	text-align: left;
}

a.app-name {
	font-size: 3em;
}

.group {
	font-size: 1.5em;
	text-decoration: underline;
}



