<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<script src="https://use.fontawesome.com/cdc49cdcaa.js"></script>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='mystyles.css') }}">
	</head>
	<body>
		<header>
			<div class='row'>
				<div class='col-sm-9 app-name'>
					<a class="app-name" href="{{url_for('showCatalog')}}">Catalog App</a>
					Delete Item Page
				</div>
				<div class="col-sm-3 login-btn">
					{%if 'email' not in session %}
					<a class="login-btn" href="{{url_for('loginPage')}}">Login</a>
					{% else %}
					<a class="login-btn" href="{{url_for('disconnect')}}">Logout</a>
					{% endif %}
				</div>
			</div>
		</header>
		<main class="new-screen">
			<form class="pane" action="{{url_for('deleteItem',category_name=category.name,item=item.name)}}" method="POST">
				<strong>Are you sure you want to delete {{item.name}}?</strong><br>
				<input type="submit" value="Yes">
				<a href="{{url_for('showItem',category_name=category.name,item=item.name)}}"> Cancel</a>
			</form>
			
		</main>
	</body>
</html>