<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='mystyles.css') }}">
	</head>
	{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li><strong>{{message}}</strong></li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	<body>
		<form action="{{url_for('loginPage')}}" method="POST">
			<div class="login">
				<div class="login-screen">
					<div class="app-title">
						<h1>Catalog App Login</h1>
					</div>
		 
					<div class="login-form">
						
						Email:<input type="text" class="login-field" value="" placeholder="catalog@example.com" name="email" size="30"><br>
						
						Password:
						<input type="password" class="login-field" value="" placeholder="password" name="password"><br>
						
		 
		                <input type="submit" value="Log in" class="login-btn btn btn-primary" >


		                <div class="register">New? <a href="{{url_for('new_user')}}">Register</a>
		                </div>
		                
					    <br>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>